h1 {
    font-family: sans-serif;
}

input:hover{
    text-decoration: underline;
}
input {
    font-family: monospace;
    width: 300px;
    border-radius: 10px;
    border-color: rgb(192, 192, 192);
    line-height: 1.5;
}
form a {
    color: blue;
}

div a {
    color: red;
}

.divRed {
    color: red;
}